In [87]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import numpy as np

train = pd.read_csv('./train.csv', sep=';')
test = pd.read_csv('./test.csv', sep=';')
answer = train.cardio

complete = pd.concat([train, test])
complete = complete.drop(['id', 'cardio'], axis=1)
complete.loc[complete['active'] == 'None', 'active'] = np.NaN
complete.loc[complete['alco'] == 'None', 'alco'] = np.NaN
complete.loc[complete['smoke'] == 'None', 'smoke'] = np.NaN
complete['active'] = complete['active'].astype('float')
complete['alco'] = complete['alco'].astype('float')
complete['smoke'] = complete['smoke'].astype('float')

# age, gender, height, weight, 
# ap_hi, ap_lo, cholesterol, gluc, 
# smoke, alco, active

train = complete.head(len(train))
test = complete.tail(len(test))

In [131]:
# Data oddities
# 1. [Age] Test contains younger guys (24, 25) vs 29 minimum
# 2. [Gender] Train contains more men
# 3. [Gender] Test contains much more men
# 4. [Height] Lots of outliers (both too small and too high) in both train and test
# 5. [Weight] Lots of outliers. Seems like underweights
# 6. [Weight] Can be potentially confused with Height
# 7. [AP_HI] Lots of outliers (both sides). Also negative values.
# 8. [AP_LO] Lots of outliers (both sides). Also negative values.

complete = pd.concat([train, test])

complete.loc[complete.ap_hi == 0, 'ap_hi'] = np.NaN
complete.loc[complete.ap_lo == 0, 'ap_lo'] = np.NaN

complete.loc[complete.ap_hi < 0, 'ap_hi'] *= -1
complete.loc[complete.ap_lo < 0, 'ap_lo'] *= -1

complete.loc[complete.ap_hi > 10000, 'ap_hi'] /= 100
complete.loc[complete.ap_hi > 1000, 'ap_hi'] /= 10
complete.loc[complete.ap_hi > 300, 'ap_hi'] /= 10

complete.loc[complete.ap_hi < 2, 'ap_hi'] *= 100
complete.loc[complete.ap_hi < 25, 'ap_hi'] *= 10

complete.loc[complete.ap_lo >= 10000, 'ap_lo'] /= 100
complete.loc[complete.ap_lo >= 4000, 'ap_lo'] /= 100
complete.loc[complete.ap_lo >= 570, 'ap_lo'] /= 10

complete.loc[complete.ap_lo < 2, 'ap_lo'] *= 100
complete.loc[complete.ap_lo <= 20, 'ap_lo'] *= 10

complete.loc[complete.ap_hi < complete.ap_lo, ['ap_hi', 'ap_lo']] = complete[complete.ap_hi < complete.ap_lo][['ap_lo', 'ap_hi']]

complete[['weight', 'height']].sort_values('height')

       weight  height
13262    41.0      50
19504    78.0      52
29020    60.0      52
22723    81.0      55
24928    63.0      56
66643    61.0      57
730     183.0      58
64115    57.6      59
15109   155.0      60
29157    69.0      60
13495    58.0      62
27603    61.0      64
33607    72.0      65
1114     74.0      65
18437    63.0      65
44490    60.0      65
64454    63.0      66
50789    60.0      67
53344    80.0      67
14323    57.0      67
22542    65.0      68
46319    71.0      68
7689     66.0      68
51459    69.0      70
15167    68.0      70
7598     72.0      70
13265    68.0      71
9102     70.0      72
32098    74.0      72
16699    98.0      74
...       ...     ...
5057     81.0     196
16225    56.0     196
61362   180.0     196
15712    79.0     196
63871    71.0     196
2160     74.0     196
55247    68.0     197
12424    88.0     197
64645    95.0     197
27443    78.0     197
32585    87.0     197
64802    78.0     197
50212    75.0     198
30127    85.0     198
1117     68.0     198
30238    89.0     198
66145    80.0     198
8897     79.0     198
63154    58.0     198
57529    78.0     198
3807     80.0     198
39351    92.0     198
54289   110.0     198
40090    99.0     198
29145    90.0     198
3237     61.0     198
12007   102.0     198
41901   100.0     200
21628    78.0     207
6486     86.0     250

[100000 rows x 2 columns]

In [92]:
complete[complete.ap_hi < 70]

,active,age,alco,ap_hi,ap_lo,cholesterol,gender,gluc,height,smoke,weight
8757,1.0,16905,0.0,10.0,2088.0,1,2,1,163,1.0,63.0
13755,0.0,15892,0.0,60.0,40.0,1,1,3,157,0.0,73.0
40330,1.0,20322,0.0,30.9,NaN,1,1,1,162,0.0,50.0
40831,1.0,19806,0.0,40.1,80.0,1,1,3,162,0.0,67.0
42334,1.0,18716,0.0,10.0,1088.0,1,1,1,171,0.0,80.0
303,1.0,22571,0.0,40.0,60.0,1,2,1,170,0.0,74.0
1929,1.0,19079,NaN,10.0,1099.0,1,1,1,176,0.0,92.0
8219,0.0,18726,0.0,60.0,100.0,1,1,1,152,0.0,46.0
8270,NaN,16872,0.0,60.0,110.0,1,2,1,155,0.0,52.0
12852,1.0,19136,NaN,10.0,30.0,1,1,1,158,NaN,61.0
13562,NaN,18007,0.0,60.0,100.0,1,1,1,156,0.0,62.0
15510,1.0,18419,0.0,10.0,2088.0,1,1,1,169,0.0,62.0
18857,1.0,19912,0.0,50.9,NaN,1,2,1,170,0.0,79.0
26374,NaN,14564,0.0,60.0,110.0,1,2,1,169,0.0,63.0

In [110]:
import time

model.fit(train, answer)
proba_predictions = model.predict_proba(test)

submission_response = pd.DataFrame({
    'y': proba_predictions[:,1]
})

timestr = time.strftime("%Y%m%d_%H%M")
pd.DataFrame(submission_response).to_csv('./outputs/naive.' + timestr + '.csv', header=False, index=False, line_terminator="\n")
pd.DataFrame(submission_response).to_csv('./outputs/_naive.latest.csv', header=False, index=False, line_terminator="\n")